.appRoot {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  text-align: center;
  border: 2px solid #a5a5a5;
  border-radius: 10px;
  padding: 10px;
  margin: 20px;
}

.header p {
  font-size: 16px;
}

.header h1 {
  font-size: 22px;
}

.infoContainer {
  border: 8px solid #ffffff;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 280px;
  height: 540px;
  text-align: center;
  font-weight: 100;
  font-family: "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  align-items: center;
  justify-content: center;
  background-color: #fcf6f6;
  overflow: visible;
  border-radius: 2%;
}

.imageContainer {
  background-color: #f0d0dc;
  border-radius: 50%;
  padding: 40px;
  margin: 10px;
}

.imageContainer img {
  max-width: 140px; /* ensure the image doesn't exceed imageContainer*/
}

.imageContainer-back img {
  max-width: 200px;
}

.attributes,
.types,
.moves {
  display: flex;
  text-align: justify;
  margin-bottom: 0;
}

.abilities,
.moves {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.attributes p,
.abilities p,
.moves p {
  margin: 5px;
  padding: 0;
}

.ability-list,
.move-list {
  display: flex;
}

.attributes p {
  margin-right: 2px; /* whitespace between attributes */
}

.abilities p {
  margin: 5px;
}

.type {
  margin: 2px;
  padding: 0 10px;
  background-color: #f0d0dc;
  border-radius: 50px;
  color: #ffffff;
}

h1 {
  font-size: 32px;
  font-family: "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bold;
  margin-bottom: 10px;
  color: rgb(67, 67, 67);
}

h3 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif,
    Arial, Helvetica;
  font-weight: 800;
  font-size: 16px;
  color: rgb(67, 67, 67);
}

p {
  font-family: "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 16px;
  color: rgb(67, 67, 67);
}

/* search bar*/

.searchbar-container {
  display: flex;
  align-items: center;
  padding: 5px;
  max-width: 600px;
  background-color: #fff;
  padding: 10px;
  max-width: 400px;
}

.searchbar-container input[type="text"] {
  width: 250px;
  height: 100%;
  font-size: 16px;
  padding: 10px;
  border-radius: 8px;
  border-color: #a5a5a5;
}

.searchbar-container button {
  background-color: #0077cc;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 16px;
  margin-left: 10px;
  cursor: pointer; /* change cursor on hover */
  transition: background-color 0.3s;
}

.searchbar-container button:hover {
  background-color: #005799; /* change background color on hover */
}

/* flip button*/
.flip-button {
  background-color: #0077cc;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 20px;
}

.flip-button:hover {
  background-color: #005799;
}
