.appRoot {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.infoContainer {
  border: 8px solid #ffffff;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  width: 300px;
  height: 560px;
  text-align: center;
  font-weight: 100;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  align-items: center;
  justify-content: center;
  background-color: #fcf6f6;
  overflow: visible;
  border-radius: 2%;
}

.imageContainer {
  background-color: #eabece;
  border-radius: 50%;
  padding: 40px;
}

.imageContainer img {
  max-width: 180px; /* ensure the image doesn't exceed imageContainer*/
}

.attributes,
.types,
.abilities,
.moves {
  display: flex;
  justify-content: center;
}

.attributes p {
  margin-right: 10px; /* whitespace between attributes */
}

.abilities p {
  margin: 10px;
}

.moves p {
  margin: 10px;
}

.type {
  margin: 2px;
  padding: 0 10px;
  background-color: #eabece;
  border-radius: 50px;
  color: #ffffff;
}

h1 {
  font-size: 36px;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 10px;
  color: rgb(67, 67, 67);
}

h3 {
  font-size: 18px;
  color: rgb(67, 67, 67);
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: rgb(67, 67, 67);
}

/* search bar*/

.searchbar-container {
  display: flex;
  align-items: center;
  padding: 5px;
  max-width: 600px;
  background-color: #fff;
  padding: 10px;
  max-width: 400px;
  margin: 0 auto;
}

.searchbar-container input[type="text"] {
  width: 250px;
  height: 100%;
  font-size: 16px;
  padding: 10px;
  border-radius: 8px;
  margin-top: 100px;
}

.searchbar-container button {
  background-color: #0077cc;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 16px;
  margin-left: 10px;
  cursor: pointer; /* change cursor on hover */
  transition: background-color 0.3s;
}

.searchbar-container button:hover {
  background-color: #005799; /* change background color on hover */
}

/* flip button*/

.flip-button {
  background-color: #0077cc;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 30px;
}

.flip-button:hover {
  background-color: #005799;
}
